extends ../extend/default

block variables
	-
		title = 'WoW Body Gym'
		logoScrollTop = true
		topBtn = true
		activeIndex = 4

block main
	main.content

		//begin gym-screen
		+b.SECTION.gym-screen.js-video-block
			//+e.bg

			+e.PICTURE.bg
				source(srcset='static/img/bg/gym-screen_bg.jpg', media='(min-width: 768px)')
				img(srcset='static/img/bg/gym-screen_bg-mob.jpg', alt='image')

			video(width="100%" height="100%" preload="auto" loop="" controls='')
				source(src='static/video/video-sample.mp4' type="video/mp4")
				source(src='static/video/video-sample.webm' type="video/webm")

			+e.container.container._lg
				+e.head(data-anim-stagger='fade-y' data-anim-delay='.15')
					+e.title.title-lg
						h1 wow
							= ' '
							span body
							= ' '
							span gym

					+e.sub-title
						h3 качай с
							= ' '
							span Иракли

				+e.about
					+e.about-inner
						+e.about-title.title-sm(data-anim='fade-x' data-anim-delay='.4'): h5 Онлайн-программа для самоконтроля в тренажёрном зале

						-
							gymAboutList = [
							'комплекс упражнений на разные группы мышц (силовые, кардио)',
							'схема питания для красивого рельефа и объёмов',
							'тренер твоей мечты',
							]

						+e.UL.about-list.dotted-list(data-anim-stagger='fade-x' data-anim-delay='.6')
							for text in gymAboutList
								li= text

						+e.actions(data-anim-stagger='fade-x' data-anim-delay='1' data-anim-hook='1')
							+e.A.actions-btn.btn._green-hov._sm.js-scroll-btn(href='#prices'): span Стоимость
							+b.BUTTON.play-btn.__actions-btn.js-video-play-btn(type='button')
								+e.icon
								+e.SPAN.text
									span смотреть
									= ' '
									| видео

					+e.label.title-sm(data-anim='fade-x' data-anim-delay='1' data-anim-hook='1')
						span Твой тренер:
						span Иракли Макацария
		//end gym-screen

		//begin gym-trainer
		+b.SECTION.gym-trainer.js-in-view(style='background-image: url(static/img/bg/gym-trainer_bg.jpg)')
			+e.media(data-anim='bg')
				video(width="100%" height="100%" preload="auto" loop="" muted="" playsinline='')
					source(src='static/video/video-sample.mp4' type="video/mp4")
					source(src='static/video/video-sample.webm' type="video/webm")
			+e.container.container._lg
				+e.title.title-lg(data-anim='fade-x' data-anim-delay='.15'): h2 Иракли Макацария
				+e.text
					+e.UL.list.dotted-list(data-anim-stagger='fade-x' data-anim-delay='.3')
						-
							gymTrainerList = [
							'Сертифицированный тренер',
							'Тренер самого рейтингового шоу "Зважені та щасливі"',
							'Бронзовый призер танцевального шоу "Танцы со звездами"',
							'Участник 6-го сезона романтического шоу "Холостяк"',
							]

						for text in gymTrainerList
							li= text
					+e.text(data-anim-stagger='fade-x' data-anim-delay='.8' data-anim-hook='1')
						+e.sub-title.title-sm: h6 А теперь он – твой персональный тренер
						+e.A.actions-btn.btn._light-green._white-hov._sm.js-scroll-btn(href='#prices'): span Начать программу
		//end gym-trainer

		//begin instruction
		+b.SECTION.instruction
			+e.back-title.back-title
				h4 GYM

			+e.container.container._gym
				+e.title.title-md(data-anim='fade-y')
					h2 Как работает программа
						= ' '
						span WOWBODY gym

				+e.row(data-anim-stagger='fade-y' data-anim-delay='.15')
					mixin instructionStep(item, idx)
						+e.step
							+e.step-circle

								if idx === 0
									.
										<svg width="44" height="59" viewBox="0 0 44 59" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M31.6966 36.1786C33.7843 36.1786 35.4924 34.4187 35.4924 32.2676C35.4924 30.1166 33.7843 28.3567 31.6966 28.3567C29.609 28.3567 27.9009 30.1166 27.9009 32.2676C27.9009 34.4187 29.5141 36.1786 31.6966 36.1786ZM31.6966 30.3122C32.7405 30.3122 33.5945 31.1921 33.5945 32.2676C33.5945 33.3432 32.7405 34.2231 31.6966 34.2231C30.6528 34.2231 29.7987 33.3432 29.7987 32.2676C29.7987 31.1921 30.5579 30.3122 31.6966 30.3122Z" fill="white"/>
										<path d="M8.92208 11.7352C9.20676 11.7352 9.39655 11.6374 9.58634 11.4419L11.4842 9.48638C11.8638 9.09528 11.8638 8.50864 11.4842 8.11754C11.1046 7.72644 10.5353 7.72644 10.1557 8.11754L8.25783 10.073C7.87825 10.4641 7.87825 11.0508 8.25783 11.4419C8.35272 11.6374 8.6374 11.7352 8.92208 11.7352Z" fill="white"/>
										<path d="M43.0838 29.0412C43.0838 28.1612 42.7992 27.379 42.1349 26.7924L41.5655 26.2057C42.4196 25.4235 42.9889 24.1525 42.9889 22.8814C42.9889 20.4371 41.0911 18.4816 38.7187 18.4816C38.5289 18.4816 38.3392 18.4816 38.2443 18.4816C38.2443 18.286 38.2443 18.0905 38.2443 17.9927C38.2443 15.5484 36.3464 13.5929 33.9741 13.5929C33.7843 13.5929 33.5945 13.5929 33.4996 13.5929C33.4996 13.3973 33.4996 13.2018 33.4996 13.104C33.4996 10.6597 31.6017 8.70418 29.2294 8.70418C29.0396 8.70418 28.8498 8.70418 28.7549 8.70418C28.7549 8.50863 28.7549 8.31308 28.7549 8.21531C28.7549 5.77096 26.857 3.81548 24.4847 3.81548C23.2511 3.81548 22.1124 4.40212 21.2583 5.28209L20.4992 4.4999L16.9881 0.98003C15.7545 -0.291032 13.7617 -0.291032 12.5281 0.98003L0.951091 13.0062C-0.282525 14.2773 -0.282525 16.3306 0.951091 17.6016L4.55705 21.317L9.20683 26.108C7.87832 26.8902 7.02428 28.259 7.02428 29.9211C7.02428 31.4855 7.78343 32.7566 8.92215 33.5388C9.01705 33.6366 9.01705 33.7343 9.11194 33.7343L19.3604 44.1962V45.9561H17.4626V58.6667H34.5434H42.1349V45.9561H40.237V43.0229C42.04 41.4585 43.0838 39.1119 43.0838 36.6676C43.0838 35.0054 42.6094 33.3432 41.6604 31.8766L42.2298 31.29C42.7043 30.8011 43.0838 29.9211 43.0838 29.0412ZM41.186 22.9792C41.186 23.7614 40.8064 24.4458 40.3319 24.8369L37.0106 21.4148C37.4851 20.8282 38.1494 20.5348 38.8136 20.5348C40.0472 20.5348 41.186 21.6104 41.186 22.9792ZM36.4413 18.0905C36.4413 18.8727 36.0617 19.5571 35.5872 19.9482L32.266 16.5261C32.7404 15.9395 33.4047 15.6461 34.0689 15.6461C35.3026 15.6461 36.4413 16.7217 36.4413 18.0905ZM31.6966 13.2018C31.6966 13.984 31.317 14.6684 30.8426 15.0595L27.5213 11.6374C27.9958 11.0508 28.66 10.7574 29.3243 10.7574C30.5579 10.7574 31.6966 11.8329 31.6966 13.2018ZM24.5796 5.86873C25.9081 5.86873 26.9519 6.94425 26.9519 8.31308C26.9519 9.09528 26.5724 9.77969 26.0979 10.1708L22.7766 6.7487C23.1562 6.25983 23.8204 5.86873 24.5796 5.86873ZM2.2796 16.135C1.80513 15.6461 1.80513 14.8639 2.2796 14.3751L13.9515 2.34887C14.0464 2.25109 14.2362 2.15332 14.3311 2.05554C14.426 2.05554 14.426 2.05554 14.5209 2.05554C14.7107 2.05554 14.9004 2.05554 14.9953 2.05554C15.0902 2.05554 15.1851 2.05554 15.1851 2.05554C15.3749 2.15332 15.4698 2.25109 15.5647 2.34887L17.7473 4.59767L4.46215 18.4816L2.2796 16.135ZM19.2655 5.96651L20.4043 7.13979L25.149 12.0285L25.7183 12.6151L29.8936 16.9172L30.463 17.5038L34.6383 21.8059L35.2077 22.3925L39.9523 27.2812L40.8064 28.1612C41.2809 28.6501 41.2809 29.4323 40.8064 29.9211L40.4268 30.3122L29.1345 42.0451C28.66 42.534 27.9009 42.534 27.4264 42.0451L19.8349 34.2232H20.7838C23.1562 34.2232 25.0541 32.2677 25.0541 29.8234C25.0541 27.379 23.1562 25.4235 20.7838 25.4235H11.2945L5.88556 19.8504L19.2655 5.96651ZM10.7251 27.4768H11.1047H11.1996H20.689C22.0175 27.4768 23.0613 28.5523 23.0613 29.9211C23.0613 31.29 22.0175 32.2677 20.7838 32.2677H17.937H15.1851H11.1996C9.87109 32.2677 8.82726 31.1922 8.82726 29.8234C8.92215 28.6501 9.6813 27.6723 10.7251 27.4768ZM19.3604 56.7112V47.9116H27.3315C30.2732 47.9116 32.6455 50.3559 32.6455 53.3869V56.7112H19.3604ZM40.237 56.7112H34.5434V53.3869C34.5434 51.2359 33.5945 49.2804 32.1711 47.9116H40.237V56.7112ZM40.237 33.3432C40.8064 34.321 41.186 35.4943 41.186 36.6676C41.186 38.7208 40.3319 40.4807 38.7187 41.7518L38.3392 42.0451V45.9561H27.3315H21.2583V43.3162L20.8787 43.0229C20.8787 43.0229 20.7838 42.9251 20.689 42.9251L12.2434 34.2232H17.083L26.003 43.414C26.5724 44.0006 27.4264 44.3917 28.1855 44.3917C28.9447 44.3917 29.7987 44.0984 30.3681 43.414L40.237 33.3432Z" fill="white"/>
										</svg>

								if idx === 1
									.
										<svg width="56" height="54" viewBox="0 0 56 54" fill="none" xmlns="http://www.w3.org/2000/svg">
										<mask id="path-2-inside-12" fill="white">
										<path d="M55.2044 39.8317H49.9001V36.049C49.9001 35.6079 49.542 35.247 49.1044 35.247H46.1871V32.0792C46.1871 31.6381 45.829 31.2772 45.3914 31.2772H37.9654C37.5278 31.2772 37.1698 31.6381 37.1698 32.0792V39.8317H30.4996C30.566 39.7381 30.6455 39.6312 30.7118 39.5376C32.4888 36.7975 33.4303 33.6163 33.4303 30.3282C33.4303 26.7995 32.3694 23.4446 30.3405 20.5842V11.6287C30.3405 5.21287 25.1688 0 18.8037 0H14.6664C8.27469 0 3.08975 5.2396 3.08975 11.6688V20.5842C2.91736 20.8381 2.73171 21.0921 2.57258 21.3594C0.888468 24.0327 0 27.1337 0 30.3282C0 33.6163 0.941511 36.7975 2.71845 39.5376C2.78475 39.6446 2.85105 39.7381 2.93062 39.8317C2.50628 39.8451 2.1615 40.1926 2.1615 40.6337V43.8416C2.1615 44.2827 2.51954 44.6436 2.95714 44.6436H8.26143V49.2282C8.26143 49.6693 8.61947 50.0302 9.05707 50.0302H11.9744V53.198C11.9744 53.6391 12.3325 54 12.7701 54H20.1961C20.6337 54 20.9917 53.6391 20.9917 53.198V44.6436H37.1698V53.198C37.1698 53.6391 37.5278 54 37.9654 54H45.3914C45.829 54 46.1871 53.6391 46.1871 53.198V50.0302H49.1044C49.542 50.0302 49.9001 49.6693 49.9001 49.2282V44.6436H55.2044C55.642 44.6436 56 44.2827 56 43.8416V40.6337C56 40.1926 55.642 39.8317 55.2044 39.8317ZM9.91902 14.9436C9.52119 14.155 9.30902 13.2728 9.30902 12.3639C9.30902 9.23614 11.8418 6.68317 14.9581 6.68317H18.4722C19.9972 6.68317 21.4161 7.27129 22.4637 8.34059C23.5378 9.42327 24.1212 10.8401 24.1212 12.3505C24.1212 13.2594 23.9091 14.1416 23.498 14.9436C21.363 13.9812 19.0822 13.4866 16.7085 13.4866C14.3348 13.4866 12.054 13.9812 9.91902 14.9436ZM25.6727 11.6287H28.736V18.646C27.6088 17.4698 26.3225 16.454 24.9169 15.6653C25.4341 14.6495 25.6993 13.5134 25.6993 12.3505C25.7125 12.1099 25.6993 11.8693 25.6727 11.6287ZM14.6531 1.60396H18.7904C23.7367 1.60396 27.8475 5.25297 28.6034 10.0248H25.328C24.9699 8.96881 24.3865 8.00644 23.5776 7.20446C22.225 5.84109 20.395 5.07921 18.4589 5.07921H14.9448C11.7623 5.07921 9.05707 7.15099 8.08904 10.0248H4.81364C5.59602 5.25297 9.70684 1.60396 14.6531 1.60396ZM4.68103 11.6688C4.68103 11.6554 4.68103 11.6421 4.68103 11.6287H7.74426C7.71774 11.8693 7.70448 12.1099 7.70448 12.3639C7.70448 13.5134 7.96969 14.6495 8.48686 15.6653C7.08122 16.4673 5.79493 17.4698 4.66777 18.646C4.68103 18.646 4.68103 11.6688 4.68103 11.6688ZM3.75278 43.0396V41.4356H8.26143V43.0396H3.75278ZM9.85271 48.4262V36.851H11.9744V48.4262H9.85271ZM13.5657 32.8812H15.6874V52.396H13.5657V32.8812ZM19.4004 52.396H17.2787V32.8812H19.4004V52.396ZM12.7701 31.2772C12.3325 31.2772 11.9744 31.6381 11.9744 32.0792V35.247H9.05707C8.61947 35.247 8.26143 35.6079 8.26143 36.049V39.8317H5.27776C4.78712 39.551 4.36278 39.15 4.04452 38.6554C2.43997 36.1827 1.59129 33.2955 1.59129 30.3282C1.59129 24.5139 4.80038 19.2876 9.9588 16.6946C12.0673 15.6252 14.3348 15.0906 16.7085 15.0906C19.0822 15.0906 21.3498 15.6252 23.4582 16.6946C25.5799 17.7639 27.4364 19.3411 28.8553 21.2658C30.7914 23.899 31.8257 27.0401 31.8257 30.3282C31.8257 33.2955 30.977 36.1827 29.3725 38.6554C29.0542 39.15 28.6299 39.551 28.1392 39.8317H20.9917V32.0792C20.9917 31.6381 20.6337 31.2772 20.1961 31.2772H12.7701ZM20.9917 43.0396V41.4356H37.1698V43.0396H20.9917ZM38.7611 32.8812H40.8828V52.396H38.7611V32.8812ZM44.5958 52.396H42.4741V32.8812H44.5958V52.396ZM48.3088 48.4262H46.1871V36.851H48.3088V48.4262ZM54.4087 43.0396H49.9001V41.4356H54.4087V43.0396Z"/>
										</mask>
										<path d="M55.2044 39.8317H49.9001V36.049C49.9001 35.6079 49.542 35.247 49.1044 35.247H46.1871V32.0792C46.1871 31.6381 45.829 31.2772 45.3914 31.2772H37.9654C37.5278 31.2772 37.1698 31.6381 37.1698 32.0792V39.8317H30.4996C30.566 39.7381 30.6455 39.6312 30.7118 39.5376C32.4888 36.7975 33.4303 33.6163 33.4303 30.3282C33.4303 26.7995 32.3694 23.4446 30.3405 20.5842V11.6287C30.3405 5.21287 25.1688 0 18.8037 0H14.6664C8.27469 0 3.08975 5.2396 3.08975 11.6688V20.5842C2.91736 20.8381 2.73171 21.0921 2.57258 21.3594C0.888468 24.0327 0 27.1337 0 30.3282C0 33.6163 0.941511 36.7975 2.71845 39.5376C2.78475 39.6446 2.85105 39.7381 2.93062 39.8317C2.50628 39.8451 2.1615 40.1926 2.1615 40.6337V43.8416C2.1615 44.2827 2.51954 44.6436 2.95714 44.6436H8.26143V49.2282C8.26143 49.6693 8.61947 50.0302 9.05707 50.0302H11.9744V53.198C11.9744 53.6391 12.3325 54 12.7701 54H20.1961C20.6337 54 20.9917 53.6391 20.9917 53.198V44.6436H37.1698V53.198C37.1698 53.6391 37.5278 54 37.9654 54H45.3914C45.829 54 46.1871 53.6391 46.1871 53.198V50.0302H49.1044C49.542 50.0302 49.9001 49.6693 49.9001 49.2282V44.6436H55.2044C55.642 44.6436 56 44.2827 56 43.8416V40.6337C56 40.1926 55.642 39.8317 55.2044 39.8317ZM9.91902 14.9436C9.52119 14.155 9.30902 13.2728 9.30902 12.3639C9.30902 9.23614 11.8418 6.68317 14.9581 6.68317H18.4722C19.9972 6.68317 21.4161 7.27129 22.4637 8.34059C23.5378 9.42327 24.1212 10.8401 24.1212 12.3505C24.1212 13.2594 23.9091 14.1416 23.498 14.9436C21.363 13.9812 19.0822 13.4866 16.7085 13.4866C14.3348 13.4866 12.054 13.9812 9.91902 14.9436ZM25.6727 11.6287H28.736V18.646C27.6088 17.4698 26.3225 16.454 24.9169 15.6653C25.4341 14.6495 25.6993 13.5134 25.6993 12.3505C25.7125 12.1099 25.6993 11.8693 25.6727 11.6287ZM14.6531 1.60396H18.7904C23.7367 1.60396 27.8475 5.25297 28.6034 10.0248H25.328C24.9699 8.96881 24.3865 8.00644 23.5776 7.20446C22.225 5.84109 20.395 5.07921 18.4589 5.07921H14.9448C11.7623 5.07921 9.05707 7.15099 8.08904 10.0248H4.81364C5.59602 5.25297 9.70684 1.60396 14.6531 1.60396ZM4.68103 11.6688C4.68103 11.6554 4.68103 11.6421 4.68103 11.6287H7.74426C7.71774 11.8693 7.70448 12.1099 7.70448 12.3639C7.70448 13.5134 7.96969 14.6495 8.48686 15.6653C7.08122 16.4673 5.79493 17.4698 4.66777 18.646C4.68103 18.646 4.68103 11.6688 4.68103 11.6688ZM3.75278 43.0396V41.4356H8.26143V43.0396H3.75278ZM9.85271 48.4262V36.851H11.9744V48.4262H9.85271ZM13.5657 32.8812H15.6874V52.396H13.5657V32.8812ZM19.4004 52.396H17.2787V32.8812H19.4004V52.396ZM12.7701 31.2772C12.3325 31.2772 11.9744 31.6381 11.9744 32.0792V35.247H9.05707C8.61947 35.247 8.26143 35.6079 8.26143 36.049V39.8317H5.27776C4.78712 39.551 4.36278 39.15 4.04452 38.6554C2.43997 36.1827 1.59129 33.2955 1.59129 30.3282C1.59129 24.5139 4.80038 19.2876 9.9588 16.6946C12.0673 15.6252 14.3348 15.0906 16.7085 15.0906C19.0822 15.0906 21.3498 15.6252 23.4582 16.6946C25.5799 17.7639 27.4364 19.3411 28.8553 21.2658C30.7914 23.899 31.8257 27.0401 31.8257 30.3282C31.8257 33.2955 30.977 36.1827 29.3725 38.6554C29.0542 39.15 28.6299 39.551 28.1392 39.8317H20.9917V32.0792C20.9917 31.6381 20.6337 31.2772 20.1961 31.2772H12.7701ZM20.9917 43.0396V41.4356H37.1698V43.0396H20.9917ZM38.7611 32.8812H40.8828V52.396H38.7611V32.8812ZM44.5958 52.396H42.4741V32.8812H44.5958V52.396ZM48.3088 48.4262H46.1871V36.851H48.3088V48.4262ZM54.4087 43.0396H49.9001V41.4356H54.4087V43.0396Z" fill="white" stroke="white" stroke-width="10" mask="url(#path-2-inside-12)"/>
										</svg>

								if idx === 2
									.
										<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M49.9316 40.6836C49.9219 40.6641 49.9219 40.6445 49.9121 40.625L45.2237 32.4219C45.0869 32.1777 44.8232 32.0312 44.5497 32.0312H39.8613H35.1729H30.4845C30.2012 32.0312 29.9473 32.1777 29.8105 32.4219L26.9096 37.5H23.1295L20.2286 32.4219C20.0918 32.1777 19.8281 32.0312 19.5546 32.0312H14.8662H10.1778H5.46982C5.18656 32.0312 4.9326 32.1777 4.79586 32.4219L0.107442 40.625C-0.0293036 40.8691 -0.0293036 41.1621 0.107442 41.3965L4.79586 49.5996C4.9326 49.8438 5.19633 49.9902 5.46982 49.9902H10.1582H14.8466H19.5351C19.8183 49.9902 20.0723 49.8438 20.209 49.5996L23.11 44.5215H26.89L29.791 49.5996C29.9277 49.8438 30.1914 49.9902 30.4649 49.9902H35.1534H39.8418H44.5302C44.8134 49.9902 45.0674 49.8438 45.2041 49.5996L49.8926 41.3965C49.9023 41.377 49.9023 41.3574 49.9121 41.3379C49.9219 41.3184 49.9316 41.2988 49.9414 41.2695C50.0098 41.0938 50.0098 40.9082 49.9414 40.7324C49.9512 40.7227 49.9414 40.7031 49.9316 40.6836ZM47.8804 40.2344H44.9893L41.1897 33.5938H44.0809L47.8804 40.2344ZM22.8756 40.2344H19.9844L16.1848 33.5938H19.076L22.8756 40.2344ZM10.1582 48.4375H5.91912L1.68001 41.0156L5.91912 33.5938H10.1582H14.3973L18.6365 41.0156L14.3973 48.4375H10.1582ZM19.0858 48.4375H16.1946L19.9941 41.7969H22.8853L19.0858 48.4375ZM24.8974 41.4062C24.9072 41.3867 24.9072 41.3672 24.917 41.3477C24.9267 41.3281 24.9365 41.3086 24.9463 41.2793C25.0147 41.1035 25.0147 40.918 24.9463 40.7422C24.9365 40.7227 24.9267 40.7031 24.917 40.6738C24.9072 40.6543 24.9072 40.6348 24.8974 40.6152L23.9988 39.0527H35.1631C36.2375 39.0527 37.1166 39.9316 37.1166 41.0059C37.1166 42.0801 36.2375 42.959 35.1631 42.959H24.0086L24.8974 41.4062ZM35.1631 48.4375H30.924L28.697 44.5312H35.1631C37.0971 44.5312 38.6794 42.9492 38.6794 41.0156C38.6794 39.082 37.0971 37.5 35.1631 37.5H28.697L30.9338 33.5938H35.1631H39.4022L43.6413 41.0156L39.4022 48.4375H35.1631ZM44.0906 48.4375H41.1995L44.999 41.7969H47.8902L44.0906 48.4375Z" fill="white"/>
										<path d="M39.8515 14.8438C39.8515 6.66016 33.19 0 25.0049 0C16.8197 0 10.1582 6.66016 10.1582 14.8438C10.1582 23.0273 16.8197 29.6875 25.0049 29.6875C33.19 29.6875 39.8515 23.0273 39.8515 14.8438ZM11.721 14.8438C11.721 7.51953 17.6792 1.5625 25.0049 1.5625C32.3305 1.5625 38.2887 7.51953 38.2887 14.8438C38.2887 22.168 32.3305 28.125 25.0049 28.125C17.6792 28.125 11.721 22.168 11.721 14.8438Z" fill="white"/>
										<path d="M37.5073 14.8438C37.5073 7.94922 31.9008 2.34375 25.0049 2.34375C18.109 2.34375 12.5024 7.94922 12.5024 14.8438C12.5024 21.7383 18.109 27.3438 25.0049 27.3438C31.9008 27.3438 37.5073 21.7383 37.5073 14.8438ZM14.0652 14.8438C14.0652 8.80859 18.9685 3.90625 25.0049 3.90625C31.0412 3.90625 35.9445 8.80859 35.9445 14.8438C35.9445 20.8789 31.0412 25.7812 25.0049 25.7812C18.9685 25.7812 14.0652 20.8789 14.0652 14.8438Z" fill="white"/>
										<path d="M24.4578 15.4004L29.4295 20.3711C29.5858 20.5273 29.7811 20.5957 29.9862 20.5957C30.1914 20.5957 30.3867 20.5176 30.543 20.3711C30.8458 20.0684 30.8458 19.5703 30.543 19.2676L25.7862 14.5215V7.8125C25.7862 7.38281 25.4346 7.03125 25.0048 7.03125C24.575 7.03125 24.2234 7.38281 24.2234 7.8125V14.8438C24.2234 14.9414 24.2429 15.0488 24.282 15.1465C24.3211 15.2344 24.3797 15.3223 24.4578 15.4004Z" fill="white"/>
										</svg>

							+e.step-text
								+e.step-title.title-sm
									h5!= item.title
								p!= item.descr

					-
						instructionList = [{
							title: 'Ты выбираешь свой пакет',
							descr: '4 недели или 8 недель'
						}, {
							title: 'Приходишь в<br> тренажёрный зал',
							descr: '3 раза в неделю + 2 бонусные тренировки'
						}, {
							title: 'Запускаешь WOWBODY<br> gym',
							descr: 'занимаешься по программе<br> от 20 до 60 минут'
						}]

					each item, index in instructionList
						+instructionStep(item, index)

				+e.add
					+e.add-title.title-sm(data-anim='fade-y'): h4 Помимо упражнений для тренажёрного зала, тебе доступны:
					+e.UL.add-list.dotted-list._horiz(data-anim-stagger='fade-y' data-anim-hook='1')
						-
							instructionAddList = [
							'Схема правильного питания с заменами',
							'Удобный контроль своих параметров',
							'Чат с хелпером',
							]

						for text in instructionAddList
							li= text
		//end instruction

		//begin prices
		+b.SECTION.prices._gym#prices
			+e.back-title.back-title
				h4 PRICE
			+e.container.container
				+e.text(data-anim-stagger='fade-y')
					+e.title.title-md
						h2 Стоимость программы
					+e.descr.js-dot
						p Программа стартует сразу после оплаты

				+e.inner.js-mobile-slider
					+e.item(data-anim-stagger='fade-y')
						+e.item-value
							h5
								sup €
								| 35
						+e.item-value._uah
							h5 (1200.99 грн)
						+e.item-title
							h5
								span WOWBODY STRONG + STRONG 2
						+checkBox('__item-checkbox', '4 недели')(name='price-checkbox' type='radio' checked)
						+b.promo-code.__item-promo-code(data-anim-stagger="fade-y")
							+e.BUTTON.action-btn.js-promo-code-enter-btn
								span ВВЕСТИ ПРОМОКОД
								svg(class='promo-code__action-btn-icon' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-90.175 170.214 792.175 451.746')
									path(d='M266.733 605.657L-73.872 265.052c-21.737-21.737-21.737-56.797 0-78.534 21.736-21.737 56.796-21.737 78.358 0l301.338 301.34 301.514-301.164c21.562-21.737 56.796-21.737 78.358 0 21.736 21.562 21.736 56.797 0 78.358L345.092 605.657c-10.87 10.868-25.068 16.303-39.267 16.303-14.024 0-28.223-5.435-39.092-16.303z')
							+e.FORM.form.form(action='#!' method='POST')
								+e.form-group.form-group.js-form-group-clear
									+e.INPUT.form-control.form-control(type='text' name='' required)
									+e.BUTTON.form-group-clear-btn.js-form-group-clear-btn(type='button')
										svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(fill-rule='evenodd', clip-rule='evenodd', d='M8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.64964 13.7216 0.278417C13.3504 -0.0928057 12.7485 -0.0928057 12.3773 0.278417L7 5.65568L1.62273 0.278417C1.25151 -0.0928057 0.64964 -0.0928057 0.278417 0.278417C-0.0928057 0.64964 -0.0928057 1.25151 0.278417 1.62273L5.65568 7L0.278417 12.3773C-0.0928057 12.7485 -0.0928057 13.3504 0.278417 13.7216C0.64964 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7Z')
								+e.BUTTON.apply-btn.btn._white-hov(type='submit')
									span ПРИМЕНИТЬ
								.help-block Неверный промокод
							+e.success
								svg(class='promo-code__success-icon' width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M44.8696 11.301H3.13043C1.40449 11.301 0 12.7055 0 14.4315V20.6923C0 22.4183 1.40449 23.8228 3.13043 23.8228H44.8696C46.5955 23.8228 48 22.4183 48 20.6923V14.4315C48 12.7055 46.5954 11.301 44.8696 11.301ZM45.913 20.6923C45.913 21.2683 45.4455 21.7358 44.8695 21.7358H3.13043C2.55443 21.7358 2.08692 21.2683 2.08692 20.6923V14.4315C2.08692 13.8555 2.55443 13.3879 3.13043 13.3879H44.8696C45.4456 13.3879 45.9131 13.8555 45.9131 14.4315V20.6923H45.913Z')
									path(d='M44.8696 21.7358H3.13042C2.55442 21.7358 2.08691 22.2033 2.08691 22.7793V41.5619C2.08691 44.4377 4.42848 46.7793 7.30427 46.7793H40.6956C43.5714 46.7793 45.913 44.4377 45.913 41.5619V22.7793C45.913 22.2033 45.4456 21.7358 44.8696 21.7358ZM43.826 41.5619C43.826 43.2879 42.4216 44.6924 40.6956 44.6924H7.30437C5.57842 44.6924 4.17393 43.2879 4.17393 41.5619V23.8229H43.826V41.5619Z')
									path(d='M16.8417 1.3421C15.6208 0.978975 14.2622 1.45059 13.4879 2.48784C12.8994 3.27877 12.722 4.26172 12.9975 5.18627C14.4333 10.0155 18.9558 13.388 23.9999 13.388C24.5759 13.388 25.0434 12.9205 25.0434 12.3445C25.0434 7.30244 21.6709 2.7779 16.8417 1.3421ZM14.9968 4.59149C14.8799 4.19706 15.0489 3.88607 15.1616 3.73581C15.364 3.46454 15.6708 3.30175 15.9797 3.30175C16.0694 3.30175 16.1592 3.31633 16.2469 3.34353C19.8406 4.40993 22.4472 7.56961 22.8897 11.2343C19.2229 10.7897 16.0653 8.18317 14.9968 4.59149Z')
									path(d='M34.512 2.48977C33.7399 1.45253 32.3729 0.980907 31.1583 1.34198C26.3291 2.77777 22.9565 7.30027 22.9565 12.3444C22.9565 12.9204 23.4241 13.3879 24.0001 13.3879C29.0443 13.3879 33.5667 10.0153 35.0025 5.1882C35.2801 4.26375 35.1006 3.27864 34.512 2.48977ZM33.0011 4.59137C31.9347 8.1851 28.775 10.7917 25.1104 11.2341C25.5549 7.56733 28.1615 4.4098 31.7532 3.34125C31.8429 3.31621 31.9327 3.30163 32.0203 3.30163C32.3292 3.30163 32.6359 3.46441 32.8363 3.73569C32.949 3.88595 33.1201 4.19693 33.0011 4.59137Z')
									path(d='M24.4005 11.3824C24.0081 11.2176 23.5636 11.3073 23.2631 11.6078L17.0022 17.8686C16.5953 18.2756 16.5953 18.9372 17.0022 19.3442C17.4092 19.7511 18.0708 19.7511 18.4777 19.3442L22.9563 14.8634V45.7358C22.9563 46.3118 23.4238 46.7793 23.9998 46.7793C24.5758 46.7793 25.0433 46.3118 25.0433 45.7358V12.3444C25.0433 11.9229 24.7887 11.541 24.4005 11.3824Z')
									path(d='M30.9977 17.8688L24.7368 11.608C24.3298 11.201 23.6682 11.201 23.2613 11.608C22.8543 12.0149 22.8543 12.6765 23.2613 13.0835L29.5221 19.3443C29.7267 19.5467 29.9938 19.6491 30.2609 19.6491C30.5281 19.6491 30.7952 19.5468 30.9977 19.3443C31.4046 18.9373 31.4046 18.2758 30.9977 17.8688Z')
								p Скидка 20% активирована
							+b.A.prices__item-btn.btn._white-hov(href='#!')
								span ПРОЙТИ ПРОГРАММУ

					+e.item._color(data-anim-stagger='fade-y')
						+e.item-value
							i €35
							h5
								sup €
								| 25
						+e.item-value._uah
							i (6000.55 грн)
							h5 (4400.99 грн)
						+e.item-title
							h5: span WOWBODY STRONG 2
						+checkBox('__item-checkbox', '8 недель')(name='price-checkbox' type='radio')
						+b.promo-code.__item-promo-code
							+e.BUTTON.action-btn.js-promo-code-enter-btn
								span ВВЕСТИ ПРОМОКОД
								svg(class='promo-code__action-btn-icon' version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-90.175 170.214 792.175 451.746')
									path(d='M266.733 605.657L-73.872 265.052c-21.737-21.737-21.737-56.797 0-78.534 21.736-21.737 56.796-21.737 78.358 0l301.338 301.34 301.514-301.164c21.562-21.737 56.796-21.737 78.358 0 21.736 21.562 21.736 56.797 0 78.358L345.092 605.657c-10.87 10.868-25.068 16.303-39.267 16.303-14.024 0-28.223-5.435-39.092-16.303z')
							+e.FORM.form.form(action='#!' method='POST')
								+e.form-group.form-group.js-form-group-clear
									+e.INPUT.form-control.form-control(type='text' name='' required)
									+e.BUTTON.form-group-clear-btn.js-form-group-clear-btn(type='button')
										svg(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
											path(fill-rule='evenodd', clip-rule='evenodd', d='M8.34432 7L13.7216 1.62273C14.0928 1.25151 14.0928 0.64964 13.7216 0.278417C13.3504 -0.0928057 12.7485 -0.0928057 12.3773 0.278417L7 5.65568L1.62273 0.278417C1.25151 -0.0928057 0.64964 -0.0928057 0.278417 0.278417C-0.0928057 0.64964 -0.0928057 1.25151 0.278417 1.62273L5.65568 7L0.278417 12.3773C-0.0928057 12.7485 -0.0928057 13.3504 0.278417 13.7216C0.64964 14.0928 1.25151 14.0928 1.62273 13.7216L7 8.34432L12.3773 13.7216C12.7485 14.0928 13.3504 14.0928 13.7216 13.7216C14.0928 13.3504 14.0928 12.7485 13.7216 12.3773L8.34432 7Z')
								+e.BUTTON.apply-btn.btn._white-hov(type='submit')
									span ПРИМЕНИТЬ
								.help-block Неверный промокод
							+e.success
								svg(class='promo-code__success-icon' width='48', height='48', viewBox='0 0 48 48', fill='none', xmlns='http://www.w3.org/2000/svg')
									path(d='M44.8696 11.301H3.13043C1.40449 11.301 0 12.7055 0 14.4315V20.6923C0 22.4183 1.40449 23.8228 3.13043 23.8228H44.8696C46.5955 23.8228 48 22.4183 48 20.6923V14.4315C48 12.7055 46.5954 11.301 44.8696 11.301ZM45.913 20.6923C45.913 21.2683 45.4455 21.7358 44.8695 21.7358H3.13043C2.55443 21.7358 2.08692 21.2683 2.08692 20.6923V14.4315C2.08692 13.8555 2.55443 13.3879 3.13043 13.3879H44.8696C45.4456 13.3879 45.9131 13.8555 45.9131 14.4315V20.6923H45.913Z')
									path(d='M44.8696 21.7358H3.13042C2.55442 21.7358 2.08691 22.2033 2.08691 22.7793V41.5619C2.08691 44.4377 4.42848 46.7793 7.30427 46.7793H40.6956C43.5714 46.7793 45.913 44.4377 45.913 41.5619V22.7793C45.913 22.2033 45.4456 21.7358 44.8696 21.7358ZM43.826 41.5619C43.826 43.2879 42.4216 44.6924 40.6956 44.6924H7.30437C5.57842 44.6924 4.17393 43.2879 4.17393 41.5619V23.8229H43.826V41.5619Z')
									path(d='M16.8417 1.3421C15.6208 0.978975 14.2622 1.45059 13.4879 2.48784C12.8994 3.27877 12.722 4.26172 12.9975 5.18627C14.4333 10.0155 18.9558 13.388 23.9999 13.388C24.5759 13.388 25.0434 12.9205 25.0434 12.3445C25.0434 7.30244 21.6709 2.7779 16.8417 1.3421ZM14.9968 4.59149C14.8799 4.19706 15.0489 3.88607 15.1616 3.73581C15.364 3.46454 15.6708 3.30175 15.9797 3.30175C16.0694 3.30175 16.1592 3.31633 16.2469 3.34353C19.8406 4.40993 22.4472 7.56961 22.8897 11.2343C19.2229 10.7897 16.0653 8.18317 14.9968 4.59149Z')
									path(d='M34.512 2.48977C33.7399 1.45253 32.3729 0.980907 31.1583 1.34198C26.3291 2.77777 22.9565 7.30027 22.9565 12.3444C22.9565 12.9204 23.4241 13.3879 24.0001 13.3879C29.0443 13.3879 33.5667 10.0153 35.0025 5.1882C35.2801 4.26375 35.1006 3.27864 34.512 2.48977ZM33.0011 4.59137C31.9347 8.1851 28.775 10.7917 25.1104 11.2341C25.5549 7.56733 28.1615 4.4098 31.7532 3.34125C31.8429 3.31621 31.9327 3.30163 32.0203 3.30163C32.3292 3.30163 32.6359 3.46441 32.8363 3.73569C32.949 3.88595 33.1201 4.19693 33.0011 4.59137Z')
									path(d='M24.4005 11.3824C24.0081 11.2176 23.5636 11.3073 23.2631 11.6078L17.0022 17.8686C16.5953 18.2756 16.5953 18.9372 17.0022 19.3442C17.4092 19.7511 18.0708 19.7511 18.4777 19.3442L22.9563 14.8634V45.7358C22.9563 46.3118 23.4238 46.7793 23.9998 46.7793C24.5758 46.7793 25.0433 46.3118 25.0433 45.7358V12.3444C25.0433 11.9229 24.7887 11.541 24.4005 11.3824Z')
									path(d='M30.9977 17.8688L24.7368 11.608C24.3298 11.201 23.6682 11.201 23.2613 11.608C22.8543 12.0149 22.8543 12.6765 23.2613 13.0835L29.5221 19.3443C29.7267 19.5467 29.9938 19.6491 30.2609 19.6491C30.5281 19.6491 30.7952 19.5468 30.9977 19.3443C31.4046 18.9373 31.4046 18.2758 30.9977 17.8688Z')
								p Скидка 20% активирована
							+b.A.prices__item-btn.btn._white-hov(href='#!')
								span ПРОЙТИ ПРОГРАММУ
		//end prices

		//begin gym-suit
		+b.SECTION.gym-suit
			+e.PICTURE.bg
				source(srcset='static/img/bg/gym-suit_bg.jpg', media='(min-width: 768px)')
				img(srcset='static/img/bg/gym-suit_bg-mob.jpg', alt='image')

			+e.container.container

				+e.list-block
					+e.list-title(data-anim='fade-x'): h3 Программа ПОДОЙДЕТ тебе, если:
					-
						suitList = [
						'Ты хочешь заниматься в спортзале',
						'У тебя нет персонального тренера',
						'Не знаешь, как правильно тренировать нужные мышцы',
						'Мечтаешь об идеальной фигуре',
						]
					+e.UL.list._correct(data-anim-stagger='fade-x' data-anim-delay='.2' data-anim-hook='1')
						for text in suitList
							li
								i
								span!= text

				+e.list-block
					+e.list-title(data-anim='fade-x' data-anim-delay='.4'): h3 Программа НЕ подойдёт тебе, если:
					-
						suitList = [
							'Ты хочешь сбросить лишний вес',
							'У тебя есть медицинские противопоказания<sup>*</sup>',
						]
					+e.UL.list._wrong(data-anim-stagger='fade-x' data-anim-delay='.6' data-anim-hook='1')
						for text in suitList
							li
								i
								span!= text

				+e.add(data-anim='fade-x' data-anim-delay='.75' data-anim-hook='1')
					p
						sup *
						= ' '
						| Пожалуйста, перед началом программы проконсультируйся с врачом
		//end gym-suit

		//begin gym-effect
		+b.SECTION.gym-effect
			+e.container.container
				+e.title.title-lg(data-anim='fade-x'): h2 Почему это эффективно ?
				+e.info
					+e.UL.info-list(data-anim-stagger='fade-x' data-anim-delay='.25')
						li
							i
							span Наше меню разработано специально для набора мышечной массы
						li
							i
							span Упражнения рассчитаны на детальную проработку всех  мышц
					+e.info-btn-wrap(data-anim='fade-x' data-anim-delay='.5' data-anim-hook='1')
						+e.A.info-btn.btn._green-hov._sm.js-scroll-btn(href='#prices'): span хочу Начать программу

				+b.faq-block.__faq(data-anim='fade-y')
					+e.title.title-md: h2 Вопросы и ответы
					+e.content
						dl
							dt - Можно ли заниматься по программе мужчинам?
							dd - Личный кабинет рассчитан на женщин.
								i Но нагрузка подойдёт и мужчинам.
						dl
							dt - Я хочу похудеть. Можно ли мне начать WOWBODY gym?
							dd - Меню программы
								b специально рассчитано
								= ' '
								| для набора мышечной массы. Если хотите сбросить лишние килограммы, вам подойдёт программа
								a(href='#!' target='_blank') WOWBODY slim
		//end gym-effect

		//begin ask
		+b.SECTION.ask
			+e.container.container
				+e.action(data-anim='fade-x')
					+e.action-title.title-md: h2 Остались вопросы? Задай их нашим хелперам
					+e.A.action-btn.btn._white-hov._sm(href='https://wowbodystrong2.com/contact-us' target='_blank'): span задать вопрос
				+e.sub(data-anim='fade-x')
					+e.sub-title.title-sm
						h3 Хочешь первой получать новости о программе и акционные предложения? Тогда подпишись на нашу рассылку
					+e.FORM.form(action='#!' method='POST')
						+e.form-row
							+e.form-group.form-group
								+e.INPUT.form-control.form-control(type='text' name='email' placeholder='Введите email' required)
							+e.BUTTON.form-submit.btn._white._dark-green-hov(type='submit'): span подписаться
						+b.check._white.__form-check
							+e.LABEL.label
								+e.INPUT.input(type='checkbox' name='checkbox' checked)
								+e.square: +i('checkmark', 'check__icon')
							+e.SPAN.text Оставляя свой имейл вы соглашаетесь на
								a(href='#!' target='_blank') обработку своих персональных данных
		//end ask
